<!-- <footer class="footer" data-bs-theme="dark">
    <div class="container">
        <span>
            YelpCamp <#%= new Date().getFullYear() %>
        </span>
    </div>
</footer> -->
<footer class="pt-3 footer bg-dark mt-auto" data-bs-theme="dark">
    <!-- <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Features</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Pricing</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>
    </ul> -->
    <div>
        <span>
            <p class="text-center text-body-secondary">
                &copy;YelpCamp <%= new Date().getFullYear() %>
            </p>
        </span>
    </div>
  </footer>